
body {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(255, 246, 247);
  font-size: small;
}


.header {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 246, 247);
}


.logo img {
  height: 57px;
  width: 113px;
  margin: auto;
  margin-top: 11px;
}


.header_items ul {
  display: flex;
  list-style: none;
  padding-right: 36px;
  padding-left: 37px;
}

.header_items li {
  padding: 18px 10px;
}

.header_items a {
  text-decoration: none;
  color: black;
}

.header_items li:hover {
  text-decoration: underline;
}


.header_items .dropdown {
  position: relative;
  display: inline-block;
}

.header_items .dropdown a {
  display: inline-flex;
  align-items: center;
}

.header_items .dropdown .dropdown-icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  transition-duration: 0.5s;
}

.header_items .dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}

.header_items .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100vw; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0; 
  top: 100%;
  padding: 10px 0;
}

.header_items .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.header_items .dropdown-content a:hover {
  background-color: #ddd;
}

.header_items .dropdown:hover .dropdown-content {
  display: block;
}


.search_bar {
  color: rgb(255, 246, 247);
  padding: 6px 8px;
  border: 1px solid black;
  border-radius: 20px;
  height: 11px;
  margin-top: 23px;
  position: relative;
  width: 81px;
  left: 36px;
}

.search_bar img {
  width: 12px;
}

.search_bar input {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  width: 40px;
}


.carousel {
  width: 90%;
  overflow: hidden;
  margin: 0px 70px;
}

.carousel div {
  max-width: 100%;
}

.carousel-container {
  display: flex;
  animation: slide 12s infinite;
}

.carousel img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}


